{% extends "app_shop/register/base_registration.html" %}
{% load static %}

{% block title %}<title>Log in</title>{% endblock %}

{% block header %}
      <form method="post">
          {% csrf_token %}
          <div class="form-group register-alert">
              <h1>Log in</h1>
              {{ form.as_p }}
              <button class="btn btn-primary" type="submit">Log in</button>
              <a href="{% url 'reset_password' %}">Forgot your password?</a>
          </div>
      </form>
{% endblock %}
