{% extends "app_shop/register/base_registration.html" %}
{% load static %}

{% block title %}<title>Registration</title>{% endblock %}

{% block header %}
<ul class="messages list-group">
    {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }} list-group-item active"{% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
<form method="post">
    {% csrf_token %}
    <div class="form-group" style="margin: 0 auto; max-width: 600px; padding-bottom: 30px;">
        <h1>Registration</h1>
        {{user_form.as_p}}
        {{user_form_password.as_p}}
        <button class="btn btn-primary" type="submit">Sign up</button>
    </div>

</form>
{% endblock %}



{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'assets/plg/form/jquery.maskedinput.min.js' %}"></script>
 <script>
    $(document).ready(function() {
    $("#id_tel").mask("+7 (999) 99-99-999");
  });
</script>
{% endblock %}

