{% extends "app_shop/base_generic.html" %}
{% load static %}
{% block content %}
  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">Оформление заказа
          </h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="index.html">home</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>Оформление заказа</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section Section_column Section_columnRight Section_columnWide Order">
      <div class="wrap">
        <div class="Section-column">
          <div class="Section-columnSection">
            <header class="Section-header">
              <strong class="Section-title">Прогресс заполнения
              </strong>
            </header>
            <div class="Section-columnContent">
              <ul class="menu menu_vt Order-navigate">
                <li class="menu-item_ACTIVE menu-item"><a class="menu-link" href="#step1">Шаг 1. Параметры пользователя</a>
                </li>
                <li class="menu-item"><a class="menu-link" href="#step2">Шаг 2. Способ доставки</a>
                </li>
                <li class="menu-item"><a class="menu-link" href="#step3">Шаг 3. Способ оплаты</a>
                </li>
                <li class="menu-item"><a class="menu-link" href="#step4">Шаг 4. Подтверждение заказа</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="Section-content">
            <div class="Order-block Order-block_OPEN" id="step1">
              <header class="Section-header Section-header_sm">
                <h2 class="Section-title">Шаг 1. Параметры пользователя
                </h2>
              </header>
              {% if request.user.is_authenticated %}
              <div class="row">
                <div class="row-block">
                  <div class="form-group">
                    <label class="form-label" for="name">ФИО
                    </label>
                    <input class="form-input" id="name" name="name" type="text" value="{{request.user.profile.last_name}} {{request.user.profile.first_name}} {{request.user.profile.middle_name}}"/>
                  </div>
                  <div class="form-group">
                    <label class="form-label" for="phone">Телефон
                    </label>
                    <input class="form-input" id="phone" name="phone" type="text" value="{{request.user.profile.tel}}"/>
                  </div>
                  <div class="form-group">
                    <label class="form-label" for="mail">E-mail
                    </label>
                    <input class="form-input" id="mail" name="mail" type="text" value="{{request.user.email}}" data-validate="require"/>
                  </div>
                </div>
              </div>
              <div class="Order-footer"><a class="btn btn_success Order-next" href="#step2">Дальше</a>
              </div>

              {% else %}
                <div class="row">
                <div class="row-block">
                  <div class="form-group"><a class="btn btn_muted Order-btnReg" href="{% url 'register' %}">Регистрация</a></div>
                  <div class="form-group"><a class="btn btn_muted Order-btnReg" href="{% url 'login' %}">Я уже зарегистрирован</a>
                  </div>
                </div>
              </div>
              {% endif %}

            </div>
          <form class="form" method="post">
            {% csrf_token %}
            <div class="Order-block" id="step2">
              <header class="Section-header Section-header_sm">
                <h2 class="Section-title">Шаг 2. Способ доставки
                </h2>
              </header>
              <div class="form-group">
                <div>
<!--                  <label class="toggle">-->
<!--                    <input type="radio" name="delivery" value="ordinary" checked="checked"/><span class="toggle-box"></span><span class="toggle-text">Обычная доставка</span>-->
                        {{payment_form.delivery}}
<!--                  </label>-->
                </div>
<!--                <div>-->
<!--                  <label class="toggle">-->
<!--&lt;!&ndash;                    <input type="radio" name="delivery" value="express"/><span class="toggle-box"></span><span class="toggle-text">Экспресс доставка</span>&ndash;&gt;-->
<!--                  </label>-->
<!--                </div>-->
              </div>
              <div class="form-group">
<!--                <label class="form-label" >Город-->
<!--                </label>-->
<!--                <input class="form-input" id="city" name="city" type="text"/>-->
                    {{payment_form.city.label_tag}}
                    {{payment_form.city}}
              </div>
              <div class="form-group">
<!--                <label class="form-label" >Адрес-->
<!--                </label>-->
<!--                <textarea class="form-textarea" name="address" id="address"></textarea>-->
                {{payment_form.address.label_tag}}
                {{payment_form.address}}
              </div>
              <div class="Order-footer"><a class="btn btn_success Order-next" href="#step3">Дальше</a>
              </div>
            </div>
            <div class="Order-block" id="step3">
              <header class="Section-header Section-header_sm">
                <h2 class="Section-title">Шаг 3. Способ оплаты
                </h2>
              </header>
              <div class="form-group">
                <div>
<!--                  <label class="toggle">-->
<!--                    <input type="radio" name="pay" value="online" checked="checked"/><span class="toggle-box"></span><span class="toggle-text">Онлайн картой</span>-->
<!--                  </label>-->
                  {{payment_form.card}}
                </div>
<!--                <div>-->
<!--                  <label class="toggle">-->
<!--                    <input type="radio" name="pay" value="someone"/><span class="toggle-box"></span><span class="toggle-text">Онлайн со случайного чужого счета</span>-->
<!--                  </label>-->
<!--                </div>-->
              </div>
              <div class="Order-footer"><a class="btn btn_success Order-next" href="#step4" id="step_four">Дальше</a>
              </div>
            </div>

            <div class="Order-block" id="step4">
              <header class="Section-header Section-header_sm">
                <h2 class="Section-title">Шаг 4. Подтверждение заказа
                </h2>
              </header>
              <!--+div.Order.-confirmation-->
              <div class="Order-infoBlock">
                <div class="Order-personal">
                  <div class="row">
                    <div class="row-block">
                      <div class="Order-info">
                        <div class="Order-infoType">ФИО:
                        </div>
                        <div class="Order-infoContent">{{request.user.profile.last_name}} {{request.user.profile.first_name}} {{request.user.profile.middle_name}}
                        </div>
                      </div>
                      <div class="Order-info">
                        <div class="Order-infoType">Телефон:
                        </div>
                        <div class="Order-infoContent">{{request.user.profile.tel}}
                        </div>
                      </div>
                      <div class="Order-info">
                        <div class="Order-infoType">E-mail:
                        </div>
                        <div class="Order-infoContent">{{request.user.email}}
                        </div>
                      </div>
                    </div>
                    <div class="row-block">
                      <div class="Order-info Order-info_delivery">
                        <div class="Order-infoType">Тип доставки:
                        </div>
                        <div class="Order-infoContent" id="delivery_div">
                        </div>
                      </div>
                      <div class="Order-info">
                        <div class="Order-infoType">Город:
                        </div>
                        <div class="Order-infoContent" id="city_div">
                        </div>
                      </div>
                      <div class="Order-info">
                        <div class="Order-infoType">Адрес:
                        </div>
                        <div class="Order-infoContent" id="address_div">
                        </div>
                      </div>
                      <div class="Order-info Order-info_pay">
                        <div class="Order-infoType">Оплата:
                        </div>
                        <div class="Order-infoContent" id="card_div">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="Cart Cart_order">
                  {% for i_good in cart %}
                  {% with product=i_good.product %}
                  <div class="Cart-product">
                    <div class="Cart-block Cart-block_row">
                      <div class="Cart-block Cart-block_pict"><a class="Cart-pict" href="{% url 'catalog_detail' product.id %}"><img class="Cart-img" src="{{product.images.first.image.url}}" alt="card.jpg"/></a>
                      </div>
                      <div class="Cart-block Cart-block_info"><a class="Cart-title" href="{% url 'catalog_detail' product.id %}">{{ product.good }}</a>
                        <div class="Cart-desc">{{ product.shop }}
                        </div>
                      </div>
                      <div class="Cart-block Cart-block_price">
                        <div class="Cart-price">{{ product.price }}$
                        </div>
                      </div>
                    </div>
                    <div class="Cart-block Cart-block_row">
                      <div class="Cart-block Cart-block_amount">{{ i_good.quantity }} шт.
                      </div>
                    </div>
                  </div>
                  {% endwith %}
                  {% endfor %}
                  <div class="Cart-total">
                    <div class="Cart-block Cart-block_total">
                      <strong class="Cart-title">Итого:
                      </strong><span class="Cart-price">{{ cart.get_total_price }}$</span>
                    </div>
                    <div class="Cart-block">
                      {% if messages %}
                          <ul class="messages">
                              {% for message in messages %}
                              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                              {% endfor %}
                          </ul>
                      {% endif %}
                    </div>
                    <div class="Cart-block">
                      <button class="btn btn_primary btn_lg" type="submit">Оплатить
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}
<script>
  document.addEventListener('DOMContentLoaded', ()=> {
      const city = document.getElementById('id_city');
      const address = document.getElementById('id_address');
      const deliveryOne = document.getElementById('id_delivery_0');
      const deliveryTwo = document.getElementById('id_delivery_1');
      const cardOne = document.getElementById('id_card_0');
      const cardTwo = document.getElementById('id_card_1');
      const btn = document.getElementById('step_four');
      btn.addEventListener('click', ()=>{
        const cityDiv = document.getElementById('city_div');
        const addressDiv = document.getElementById('address_div');
        const deliveryDiv = document.getElementById('delivery_div');
        const cardDiv = document.getElementById('card_div');
        cityDiv.textContent = city.value
        addressDiv.textContent = address.value
        if (deliveryOne.checked){
          deliveryDiv.textContent = 'Обычная доставка'
        }else if (deliveryTwo.checked){
            deliveryDiv.textContent = 'Экспресс доставка'
        }
        if (cardOne.checked){
          cardDiv.textContent = 'Онлайн картой'
        }else if (cardTwo.checked){
            cardDiv.textContent = 'Онлайн со случайного чужого счета'
        }
      })

  })
</script>
{% endblock %}