.list-group-item {
    text-align: center;
}

.register-alert {
    margin: 0 auto;
    max-width: 400px;
    padding: 30px;
    margin-top: 100px;
    border: 2px solid black;
    border-radius: 20px
}